// .responsive {
//   max-width: 100%;
//   height: 70%;
//   display: block;
// }

.tile-image {
  max-width: 8%;
  height: 45px;
}

.mat-card-image:first-child {
  margin-top: 10px;
  padding-left: 20px;
}
